
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
     <!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container"m-tb-20>
        <div class="container">
            <div class="row">
               <div class="col-12">
                <!-- login area start -->
                <div class="login-register-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                                <div class="login-register-wrapper">
                                    <div class="login-register-tab-list nav">
                                      
                                            <h4 class="mt-5">UPDATE USER DETAILS</h4>
                                       
                                        
                                    </div>
                                    <div class="tab-content">
                                        <div id="lg1" class="tab-pane active">
                                            <div class="login-form-container">
                                                <div class="login-register-form">
                                                    <form  method="POST" action="/edit-users/{{users._id}}">
                                                        <div class="form-box__single-group">
                                                            <input type="text" id="form-username" name="uname" placeholder="Username" value="{{users.uname}}" required>
                                                        </div>
                                                         <div class="form-box__single-group">
                                                            <input type="email" id="email" name="email" placeholder="Enter email" value="{{users.email}}" required>
                                                        </div>
                                                        <div class="form-box__single-group">
                                                            <input type="number" id="number" name="number" placeholder="Enter phone number" value="{{users.phNo}}" required>
                                                        </div>
                                            
                                                        <p id="error" style="display: none;" class="text-danger"> Username Already exists</p>
                                                        <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-tb-20" id="btn" type="submit">UPDATE</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- login area end -->
               </div>
            </div>
        </div>
    </main> <!-- ::::::  End  Main Container Section  ::::::  -->


