{{!--    
    
    <!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container">

        <!-- ::::::  Start Hero Section  ::::::  -->
        <div class="hero hero-slider hero--1">
            <div class="swiper-wrapper">
                <!-- Start Hero Image -->
                <div class="hero-img hero-img--1 swiper-slide" style="background-image: url( /img/hero/hero-home-1-img-1.jpg);">
                    <div class="hero__content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-sm-10 col-12">
                                    <div class="title title--large title--thin">SMART TV 4K</div>
                                    <div class="title title--large title--regular">QLED 75 INCH Q7F</div>
                                    <div class="title title--description">Exclusive Offer <span class="title--blue">-20% Off</span> This Week</div>
                                    <a href="single-1.html" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Hero Image -->
                <!-- Start Hero Image -->
                <div class="hero-img hero-img--1 swiper-slide" style="background-image: url( /img/hero/hero-home-1-img-2.jpg);">
                    <div class="hero__content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-sm-10 col-12">
                                    <div class="title title--large title--thin">MICROWAVE</div>
                                    <div class="title title--large title--regular">TOASTER OVEN 2019</div>
                                    <div class="title title--description">Exclusive Offer <span class="title--blue">-20% Off</span> This Week</div>
                                    <a href="single-1.html" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Hero Image -->
                <!-- Start Hero Image -->
                <div class="hero-img hero-img--1 swiper-slide" style="background-image: url( /img/hero/hero-home-1-img-3.jpg);">
                    <div class="hero__content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-sm-10 col-12">
                                    <div class="title title--large title--thin">SAMSUNG</div>
                                    <div class="title title--large title--regular">GALAXY S9 / S9+</div>
                                    <div class="title title--description">Exclusive Offer <span class="title--blue">-20% Off</span> This Week</div>
                                    <a href="single-1.html" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Hero Image -->
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination hero__dots"></div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <!-- Add Arrows -->
                <div class="swiper-button-next hero__nav hero__nav--next"><i class="far fa-chevron-right"></i></div>
                <div class="swiper-button-prev hero__nav hero__nav--prev"><i class="far fa-chevron-left"></i></div>
            </div>
        </div> <!-- ::::::  End Hero Section  ::::::  -->

        <!-- ::::::  Start CMS Section  ::::::  -->
        <div class="cms cms--1">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12">
                        <!-- Start Single CMS box -->
                        <div class="cms__content">
                            <div class="cms__icon">
                                <img class="cms__icon-img" src=" /img/icon/cms/icon1.png" alt="">
                            </div>
                            <div class="cms__text">
                                <h6 class="cms__title">Free Delivery</h6>
                                <span class="cms__des">For all oders over $99</span>
                            </div>
                        </div>
                    </div> <!-- End Single CMS box -->
                    <!-- Start Single CMS box -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="cms__content">
                            <div class="cms__icon">
                                <img class="cms__icon-img" src=" /img/icon/cms/icon2.png" alt="">
                            </div>
                            <div class="cms__text">
                                <h6 class="cms__title">Safe Payment</h6>
                                <span class="cms__des">100% secure payment</span>
                            </div>
                        </div>
                    </div> <!-- End Single CMS box -->
                    <!-- Start Single CMS box -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="cms__content">
                            <div class="cms__icon">
                                <img class="cms__icon-img" src=" /img/icon/cms/icon3.png" alt="">
                            </div>
                            <div class="cms__text">
                                <h6 class="cms__title">Shop With Confidence</h6>
                                <span class="cms__des">If goods have problems</span>
                            </div>
                        </div>
                    </div> <!-- End Single CMS box -->
                    <!-- Start Single CMS box -->
                    <div class="col-md-3 col-sm-6 col-12">
                        <div class="cms__content">
                            <div class="cms__icon">
                                <img class="cms__icon-img" src=" /img/icon/cms/icon4.png" alt="">
                            </div>
                            <div class="cms__text">
                                <h6 class="cms__title">24/7 Help Center</h6>
                                <span class="cms__des">Dedicated 24/7 support</span>
                            </div>
                        </div>
                    </div> <!-- End Single CMS box -->
                </div>
            </div>
        </div> <!-- ::::::  End CMS Section  ::::::  -->

       

     


        <!-- ::::::  Start  Product Style - Default Section  ::::::  -->
        <div class="product product--1 swiper-outside-arrow-hover">
            <div class="container">
               
                <div class="row">
                    <div class="col-12">
                        <div class="swiper-outside-arrow-fix pos-relative">
                            <div class="product-default-slider-5grid overflow-hidden  m-t-50">
                                <div class="swiper-wrapper">
                                    <!-- Start Single Default Product -->
                                    {{#each products}}
                                    <div class="product__box product__box--default product__box--border-hover swiper-slide text-center">
                                        <div class="product__img-box">
                                            <a href="single-1.html" class="product__img--link">
                                                <img class="product__img" src="/img/product-images/{{this._id}}.jpg" alt="">
                                            </a>

                                            <a href="#modalAddCart" data-toggle="modal" class="btn btn--box btn--small btn--gray btn--uppercase btn--weight btn--hover-zoom product__upper-btn">Add to cart</a>
                                          
                                        </div>
                                        <div class="product__price m-t-10">
                                
                                            <span class="product__price-reg">${{this.Price}}</span>
                                        </div>
                                        <a href="single-1.html" class="product__link product__link--underline product__link--weight-light m-t-15">
                                           {{this.Name}}
                                        </a>
                                    </div> <!-- End Single Default Product -->
                                    {{/each}}
                                  
                                <div class="swiper-buttons">
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-next default__nav default__nav--next"><i class="fal fa-chevron-right"></i></div>
                                    <div class="swiper-button-prev default__nav default__nav--prev"><i class="fal fa-chevron-left"></i></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ::::::  End  Product Style - Default Section  ::::::  -->

        <!-- ::::::  Start banner Section  ::::::  -->
        <div class="banner banner--1">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-12">
                        <div class="banner__box">
                            <a href="single-1.html" class="banner__link">
                                <img src=" /img/banner/banner-home-1-img-6.jpg" alt="" class="banner__img">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="banner__box">
                            <a href="single-1.html" class="banner__link">
                                <img src=" /img/banner/banner-home-1-img-7.jpg" alt="" class="banner__img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ::::::  End banner Section  ::::::  -->

      
      
    </main> <!-- ::::::  End  Main Container Section  ::::::  -->
 --}}
