 <!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container"m-tb-20>
        <div class="container">
            <div class="row">
               <div class="col-12">
                <!-- login area start -->
                <div class="login-register-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                                <div class="login-register-wrapper">
                                    <div class="login-register-tab-list nav">
                                      
                                            <h4 class="mt-5">LOGIN</h4>
                                       
                                        
                                    </div>
                                    <div class="tab-content">
                                        <div id="lg1" class="tab-pane active">
                                            <div class="login-form-container">
                                                <div class="login-register-form">
                                                    <form >
                                                        <div class="form-box__single-group">
                                                            <input type="text" id="form-username" name="username" placeholder="Username">
                                                        </div>
                                                        <div class="form-box__single-group">
                                                            <input type="password" id="form-username-password" name="password" placeholder="Enter password">
                                                        </div>
                                                         <span id="invalid"  class="text-danger d-flex justify-content-center" style="display: none !important;">Invalid username or password</span>
                                                          <span id="invalid2"  class="text-danger d-flex justify-content-center" style="display: none !important;">you are blocked</span>
                                                         <span id="invalid3"  class="text-danger d-flex justify-content-center" style="display: none !important;">Invalid user</span>
                                                        <button id="button" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-tb-20" type="submit">LOGIN</button>
                                                        
                                                    </form>
                                                     <a  href="/register" >create new account?</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  href="/otp-login" >forgot password?</a>
                                                   
                                                   
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- login area end -->
               </div>
            </div>
        </div>
    </main> <!-- ::::::  End  Main Container Section  ::::::  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $('#button').click((event)=>{
       
        event.preventDefault();
         $('#invalid').hide()
          $('#invalid2').hide()
        let uname=$('#form-username').val()
        let password=$('#form-username-password').val()
        $.ajax({
            url:'/login',
            method:'post',
            data:{
                uname,
                password
            },
            success:(response)=>{
                console.log(response,'response login')
                if(response.block==true){
                    $('#invalid2').show()
                }else if(response.invalidUser==true){
                     $('#invalid').show()
                }else if(response.user==true){
                     if(response.user.role==0){
                        window.location.href='/admin'
                    }else{
                        window.location.href='/'
                    }
                }else{
                    $('#invalid3').show()
                }

                
            }
        })
    })   
</script>