
    <!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="empty-cart m-t-40 text-center">
                        <div class="empty-cart-icon title--normal "><i class="fal fa-shopping-cart"></i></div>
                        <h3 class="title title--normal title--thin m-tb-30">YOUR ORDER IS SUCCESSFULLY PLACED</h3>
                        <a href="/" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight m-t-20">CONTINUE SHOPPING</a>
                        <a href="/view-orders" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight m-t-20">VIEW ORDERS</a>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- ::::::  End  Main Container Section  ::::::  -->