 <!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container"m-tb-20>
        <div class="container">
            <div class="row">
               <div class="col-12">
                <!-- login area start -->
                <div class="login-register-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                                <div class="login-register-wrapper">
                                    <div class="login-register-tab-list nav">
                                      
                                            <h4 class="mt-5">OTP LOGIN</h4>
                                       
                                        
                                    </div>
                                    <div class="tab-content">
                                        <div id="lg1" class="tab-pane active">
                                            <div class="login-form-container">
                                                <div class="login-register-form">
                                                    <form >
                                                        <div class="form-box__single-group">
                                                            <input type="number" id="number" name="number" placeholder="enter your phone number" required>
                                                            <span id="invalid"  class="text-danger d-flex justify-content-center" style="display: none !important;">Invalid otp</span>
                                                        </div>
                                                        <div class="form-box__single-group">
                                                            <input type="number" id="otp" name="otp" placeholder="Enter the otp" style="display: none;" >
                                                            <span id="invalid3"  class="text-danger d-flex justify-content-center" style="display: none !important;">Invalid otp</span>
                                                        </div>
                                                         
                                                        <button id="button" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-tb-20" type="submit">GET OTP</button>
                                                        <button id="resendButton" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-tb-20" type="submit" style="display: none;" >RESEND OTP</button>
                                                        <button id="button-otp" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-tb-20" type="submit" style="display: none;">LOGIN</button>

                                                        
                                                    </form>
                                                   
                                                   
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- login area end -->
               </div>
            </div>
        </div>
    </main> <!-- ::::::  End  Main Container Section  ::::::  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $('#button').click((event)=>{
       
        event.preventDefault();
        let mobile=$('#number').val()
        $('#invalid').hide()
        
        $.ajax({
            url:'/otp-login',      
            method:'post',
            data:{
                mobile,
            },
            success:(response)=>{
                if(response.status==true){
                    $('#button').hide()
                     $('#number').attr('readonly',true)
                    
                      $('#otp').show()
                       $('#resendButton').show()
                      $('#button-otp').show()
                    $('#invalid3').hide()
                }else{
                    $('#invalid3').show()
                }
            }
        })
    })

</script>
<script>
    
     $('#button-otp').click((e)=>{
        e.preventDefault()
        let mobile=$('#number').val()
        let otp=$('#otp').val()
        console.log(mobile,otp)
        
        $.ajax({
            url:'/otp-login-verify',
            method:'post',
            data:{
                otp,mobile
            },
            success:(response)=>{
                if(response.status){
                    window.location.href="/"
                }
                else{
                    $('#invalid3').show()
                }
            }
        })    
    })   
    $('#resendButton').click((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/resend-otp',
            method:'post',
            success:(response)=>{
                if(response.status){
                    $('#invalid3').hide()
                }
            }
        })
    })

</script>