<body>
<!-- ::::::  Start  Main Container Section  ::::::  -->
<main id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <!-- Start Client Shipping Address -->
            <div class="col-lg-7">
                <div class="section-content">
                    <h5 class="section-content__title mt-5">Delivery Details</h5>
                </div>
                <form id="checkout" class="form-box" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-box__single-group">
                                <label for="form-first-name">First Name</label>
                                <input type="text" id="form-first-name" name="form-first-name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box__single-group">
                                <label for="form-last-name">Last Name</label>
                                <input type="text" id="form-last-name" name="form-last-name" required>
                            </div>
                        </div>
                       
                        <div class="col-md-12">
                            <div class="form-box__single-group">
                                <label for="form-country">Country</label>
                                <select id="form-country" name="form-country" required>
                                    <option value="select-country" selected>Select a country</option>
                                    <option id="form-country">India</option>
                                    <option id="form-country">USA</option>
                                    <option id="form-country">UK</option>
                                    <option id="form-country">Turkey</option>
                                    <option id="form-country">Canada</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-box__single-group">
                                <label for="form-address-1">Street Address</label>
                                <input type="text" id="form-address-1" name="form-address-1"
                                    placeholder="House number and street name" required>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box__single-group">
                                <label for="form-state">State</label>
                                <select id="form-state" name="form-state" required>
                                    <option id="form-state" >Kerala</option>
                                    <option id="form-state">Tamil Nadu</option>
                                    <option id="form-state">Assam</option>
                                    <option id="form-state">goa</option>
                                    <option id="form-state">Karnataka</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box__single-group">
                                <label for="form-zipcode">Postal Code</label>
                                <input type="number" id="form-zipcode" name="form-zipcode" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box__single-group">
                                <label for="form-phone">Phone</label>
                                <input type="number" id="form-phone" name="form-phone" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box__single-group">
                                <label for="form-email">Email Address</label>
                                <input type="email" id="form-email" name="form-email" required>
                                <input type="text" name="userId" id="" value="{{userName._id}}" hidden>
                            </div>
                        </div>


                    </div>

            </div> <!-- End Client Shipping Address -->

            <!-- Start Order Wrapper -->
            <div class="col-lg-5">
                <div class="your-order-section">
                    <div class="section-content">
                        <h5 class="section-content__title mt-5">Your order</h5>
                    </div>
                    <div class="your-order-box gray-bg m-t-40 m-b-30">
                        <div class="your-order-product-info">
                            {{!-- <div class="your-order-top d-flex justify-content-between">
                                <h6 class="your-order-top-left">Product</h6>
                                <h6 class="your-order-top-right">Total</h6>
                            </div>
                            <ul class="your-order-middle">
                                <li class="d-flex justify-content-between">
                                    <span class="your-order-middle-left">Product Name X 1</span>
                                    <span class="your-order-middle-right">$329</span>
                                </li>

                            </ul> --}}
                            <div class="your-order-bottom d-flex justify-content-between">
                                <h6 class="your-order-bottom-left">Shipping</h6>
                                <span class="your-order-bottom-right">Free shipping</span>
                            </div>
                            <div class="your-order-total d-flex justify-content-between">
                                <h5 class="your-order-total-left">Total</h5>
                                <h5 class="your-order-total-right">Rs.{{total}}</h5>
                            </div>
                                <h4> <span style="color: red;">PAYMENT </span></h4>
                               
                            <div class="payment-method">
                               <li>
                                    <label for="ship-standard">
                                        <input type="radio" class="shipping-select" name="payment-method" value="COD" id="payment-method" checked><span>CASH ON DELIVERY</span>
                                    </label>
                                    
                                </li>
                                <span style="color: red;">ONLINE PAYMENT</span>
                                <li>
                                    <label for="payment-method">
                                        <input type="radio" class="shipping-select" name="payment-method" value="ONLINE" id="payment-method"><span>RAZORPAY</span>
                                    </label>   
                                </li>
                                  <li>
                                    <label for="payment-method">
                                        <input type="radio" class="shipping-select" name="payment-method" value="ONLINE" id="payment-method"><span>PAYPAL</span>
                                    </label>   
                                </li>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn--block btn--small btn--blue btn--uppercase btn--weight" value="place order">
                       
                </div>
            </div> <!-- End Order Wrapper -->
            </form>
        </div>
    </div>
</main> <!-- ::::::  End  Main Container Section  ::::::  -->
  

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>
<script>
    $("#checkout").submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/place-order',
            method:'post',
             data: $("#checkout").serialize(),
            success: (response) => {
                console.log('res',response)
                if(response.codSuccess){
                   
                    location.href='/order-success'
               }else{
                   console.log(response,'ajamal')
                   razorpayPayment(response)
               } 
                
            }
        })
    })
    function razorpayPayment(order){
        var options = {
    "key": "rzp_test_sYLfBPYn9nZLZi", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "MORE",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
 rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if(response.status){
                     location.href='/order-success'
                }else{
                    alert('payment is failed')
                }
            }
        })
    }
</script>